body {
    background-color: black;
    color: white;
    font-size: larger;
    width: 100%;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

#Board{
    margin-top: 20px;
    text-align: center;
    align-items: center;
    margin-left: 5%;
    margin-right:5% ;
}

#login{
    margin-top: 20px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.button4alert{
    text-align: center;
    color: yellow;
    border-color: yellow;
    size: 50px 30px;
}

#link{
    padding-top: 25px;
    text-align: center;
    font-size: larger;
}

#journal{
    text-align: center;  /* Center the text */
    color: black;             /* White text color */
    background-color:black;
    padding: 6px 2px;       /* Space between text and border */
    text-decoration: none;    /* Remove underline (if using an <a> tag) */
    cursor: pointer;          /* Change mouse cursor to a hand */
    border-radius: 8px;       /* Rounded corners */
}
