body {
    background-color: green;
    color: antiquewhite;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#Board{
    margin-top: 20px;
    text-align: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.button4alert{
    text-align: center;
    color: yellow;
    border-color: yellow;
    size: 50px 30px;
}

#link{
    padding-top: 25px;
    text-align: center;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#journal{
    text-align: center;  /* Center the text */
    padding: 50px;  
    background-color: #04AA6D; /* Green background */
    border: none;             /* Remove default border */
    color: white;             /* White text color */
    padding: 8px 8px;       /* Space between text and border */
    text-decoration: none;    /* Remove underline (if using an <a> tag) */
    display: inline-block;    /* Allows padding/margin to work correctly */
    margin: 0 auto;
    width:  0 auto;  /* Increase font size */
    cursor: pointer;          /* Change mouse cursor to a hand */
    border-radius: 8px;       /* Rounded corners */
    align-items: center;
    margin-left: 45%;
    margin-right: 45%;
}

