body {
    background-color: green;
    color: antiquewhite;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#Board{
    margin-top: 20px;
    text-align: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.button4alert{
    text-align: center;
    color: yellow;
    border-color: yellow;
    size: 50px 30px;
}

#link{
    padding-top: 25px;
    text-align: center;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#journal{
    text-align: center;
    padding: 50;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
