body {
    background-color: black;
    color: white;
    font-size: larger;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

#Board{
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.button4alert{
    text-align: center;
    color: yellow;
    border-color: yellow;
    size: 50px 30px;
}

#link{
    padding-top: 25px;
    text-align: center;
    font-size: larger;
}

#journal{
    text-align: center;  /* Center the text */
    padding: 50px;  
    background-color: white; /* Green background */
    border: none;             /* Remove default border */
    color: white;             /* White text color */
    padding: 8px 8px;       /* Space between text and border */
    text-decoration: none;    /* Remove underline (if using an <a> tag) */
    display: inline-block;    /* Allows padding/margin to work correctly */
    margin: 0 auto;
    width:  0 auto;  /* Increase font size */
    cursor: pointer;          /* Change mouse cursor to a hand */
    border-radius: 8px;       /* Rounded corners */
    align-items: center;
    margin-left: 45%;
    margin-right: 45%;
}

