html,
body {
    height: 100%;
    margin: 0;
    background-color: green;
}

.notes {
    display: flex;
    height: 100%;
}

.notes * {
    font-family: sans-serif;
}

.notes__sidebar {
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}

.notes__add {
    background: #009578;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background: #00af8c;
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--selected {
    background: #eeeeee;
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size: 1.2em;
}

.notes__small-body {
    padding: 0 10px;
}

.notes__small-updated {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}

#home{
text-align: center;  /* Center the text */
    padding: 50px;  
    background-color: #04AA6D; /* Green background */
    border: none;             /* Remove default border */
    color: white;             /* White text color */
    padding: 8px 8px;       /* Space between text and border */
    text-decoration: none;    /* Remove underline (if using an <a> tag) */
    display: inline-block;    /* Allows padding/margin to work correctly */
    margin: 0 auto;
    width:  0 auto;  /* Increase font size */
    cursor: pointer;          /* Change mouse cursor to a hand */
    border-radius: 8px;       /* Rounded corners */
    align-items: center;
    margin-left: 45%;
    margin-right: 45%;
}

